body{
    margin-left: 50px;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-align{
    display: flex;
    flex-direction: column;

}

input{
    margin:2px 0px 20px 0px;
    width: 50vw;
    padding: 8px;
}
textarea{
    width: 50vw;
}

.main-wrap{
    display: flex;
    flex-direction: column;
}

button{
    margin-top: 20px;
    width: 25vw;
    padding: 8px;
    color: white;
    background: blue;
}